body{
  background-color: #051D3B;
  font-family: 'Inter', sans-serif;
}

/*CORPO #####################################################################################################*/

main {
  margin: 8vh;
  margin-top:1.5rem;
  display:grid;
  grid-template-areas: 
    "menu-navegacao" /*primeira coluna*/
    "editor" /*coluna do meio*/
    "menu-lateral-direito"; /*terceira coluna*/
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
}

/*Grid direito*/

.menu-lateral-direito .container{
  width: 90%;
  margin:auto;
}

.menu-lateral-direito{
  grid-area:menu-lateral-direito;
  grid-column: 3/4;
  grid-row-start: 1;
}

.menu-lateral-direito h2{
  color:white;
  margin-bottom: .5rem;
  font-size: 12px;
  letter-spacing: .2rem;
}

.campo-nome-pojeto{
  background-color: rgba(255, 255,255, .16);
  color:white;
  border-radius: 8px;
  border-style: none;
  min-height: 2rem;
  margin-bottom: .5rem;
  width: 100%;
  font-size: 16px;
  height: 56px;
}

.campo-nome-pojeto:hover{
  background-color:rgba(255, 255,255, .24);
}

.campo-nome-pojeto::placeholder {
  color:rgba(255, 255,255, .30);
  padding-left:1.6%; /*deixa o placeholder com um espaçamento*/
  font-family: 'Inter', sans-serif;
}

.campo-descricao{
  background-color: rgba(255, 255,255, .16);
  color:white;
  border-radius: 8px;
  border-style: none;
  min-height: 80px;
  min-width: 4rem;
  margin-bottom: .5rem;
  width: 100%;
  height:3rem;
  font-size: 16px;
  resize: none;
}

.campo-descricao:hover{
  background-color:rgba(255, 255,255, .24);
}

.campo-descricao::placeholder {
  color:rgba(255, 255,255, .30);
  padding-left:1.6%; /*deixa o placeholder com um espaçamento*/
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.personalização{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  /*classe que deixa um espaço entre a descricao e a personalizacao*/
}

.selecao-linguagem{
  background-color: rgba(255, 255,255, .16);
  border-radius: 8px;
  border-style: none;
  width: 100%;
  height: 56px;
  color:rgba(255, 255,255, .30);
  margin-bottom: .5rem;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.selecao-linguagem:hover, .selecao-linguagem:focus{
  outline: none;
  cursor: pointer;
  background-color:rgba(255, 255,255, .24);
}

.selecao-linguagem option{
  color:rgb(0, 0,0);
  /*essa classe serve apenas para mudar a cor das letras de cada opcao do select*/
}

.color-picker{
  box-sizing: border-box;
  background-color: #051D3B;
  border-radius: 8px;
  width: 100%;
  height: 56px;
}

.color-picker:hover, .color-picker:focus{
  cursor: pointer;
}

.botao-salvar-projeto{
  background-color:#5081FB;
  border-radius: 8px;
  margin: 1rem 0;
  width: 100%;
  height: 56px;
  cursor: pointer;
  border-style: none;
  font-size: 16px;
}

.botao-salvar-projeto:hover{
  background-color: #7BA4FC;
}

.botao-salvar-projeto:active{
  border: 4px solid #5081FB;
}

.botao-salvar-projeto:focus{
  background-color: #96B9FD;
}

/*Fim do Grid direito*/

/*Grid central*/


.editor-codigo__borda{
  box-sizing: border-box;
  grid-area: editor;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 8px;
  border: solid 25px #6BD1FF;
  background-color: #6BD1FF;
  /*a função dessa classe é fazer uma borda atrás do editor de código. Isso se tornou necessário, pq 
  com uma borda desse tamanho, a borda interna (as pontas da parte preta do editor) ficariam retas*/
}

.editor-codigo__barra-circulos{
  box-sizing: border-box;
  background-color: #141414;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  border: solid 5px #141414;
  /*essa classe serve para fazer um fundo preto que engloba a imagem do editor do mac, e o textarea*/
}


.editor-codigo__canvas{
  display:block;
  white-space: pre-wrap;
  box-sizing: border-box; 
  color:white;
  border-style: none;
  background-color: #141414;
  height: 306px;
  max-width: 100%;
  min-width: 100%;
  resize: none; /*impossibilita o usuario de aumentar o editor*/
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  outline: none;
}

.editor-codigo__botao-syntax-highlight{
  margin-top:1.5rem;
  background-color: rgba(80, 129, 251, 0.08);
  color:white;
  border-style: none;
  border-radius: 8px;
  width: 100%;
  height: 56px;
  font-size: 16px;
}

.editor-codigo__botao-syntax-highlight:hover{
  background-color:rgba(80, 129, 251, 0.16);
}

.editor-codigo__botao-syntax-highlight:active{
  background-color:rgba(80, 129, 251, 0.16);
  border: 4px solid rgba(80, 129, 251, 0.24);
}

.editor-codigo__botao-syntax-highlight:focus{
  background-color:rgba(80, 129, 251, 0.24);;
}

.invisivel-desktop{
  display:none;
}

/*fim Grid central*/