body{
  background-color: #051D3B;
  font-family: 'Inter', sans-serif;
}

/*CORPO #####################################################################################################*/

main {
  margin: 4vh;
  margin-top:1.5rem;
  display:grid;
  grid-template-areas: 
    "menu-navegacao" /*primeira coluna*/
    "cards"; /*coluna dos cards*/
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
}